<nav class="navbar navbar-expand-lg navbar-light sticky-top"
    style="background-color:rgb(255, 255, 255); height: 100px ;">
    <div class="container-fluid">
        <a class="navbar-brand"></a>
        <div class="clock-icon">
            <a class="icon-name" href=""><i class="bi bi-alarm fa-3x"></i><span class="remind">Remind Me</span> </a>
        </div>
        <!-- <img id="" src="../../assets/nav2.png" alt="no image" width="300" height="75"> -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 "></ul>
            <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="navbar-brand h1 nav-link text-black text-strong">HOME</a>
                </li>
                <li class="nav-item">
                    <a class="navbar-brand h1 nav-link text-black">ABOUT</a>
                </li>
                <li class="nav-item">
                    <a class="navbar-brand h1 nav-link text-black">CONTACT</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="view">
    <div class="row">
        <div class="col-3"></div>
        <div class="event-table col-6">
            <h1 style="color:rgb(70, 28, 12); margin-left: 354px;">EVENTS</h1>
            <table class="table table-hover table-bordered"
                style="color:white; background-color: rgba(146, 122, 108, 0.952);">
                <thead>
                    <tr class="tab-head">
                        <th>Sl. No</th>
                        <th>DATE</th>
                        <th>EVENT</th>
                        <th>DELETE</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let i of events; let k = index;">
                        <td>{{k+1}}</td>
                        <td>{{i.date}}</td>
                        <td>{{i.event}}</td>

                        <!-- <td><button >update</button></td> -->
                        <td><button (click)="removeEvent(k)">delete</button></td>
                    </tr>
                </tbody>
            </table>
            <a class="back btn btn-outline-dark" routerLink="/dashboard" style="font-size: 20px;">BACK</a>
        </div>
        <div class="col-3"></div>
    </div>
</div>
