.regform{
    margin-top: 15%;
    margin-left: -200px;
}

.registerform{
    height: 1000px;
    background-image: url(../../assets/alarm-clock.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center center;
    background-blend-mode: multiply;
    width:100%;  
}
.clock-icon{
    margin-left: 50px;
}
.icon-name{
  
    text-decoration: none;
    color: black;    
    
}

.remind{
    font-size: 50px;
    margin-left: 10px;
    color: rgb(56, 53, 53);

}
